page-notimsg{
    ion-content {
        color: #000 !important;
        font-family: "Gotham";
        
    }
    ion-content p{ color: #000; font-size: 12px; font-weight:500;}
      ion-content {
        color: #000 !important;
        font-family: "Gotham";
        font-weight: 500;
      }
      ion-content .msg-col2 {
        color: #909090 !important;
        font-family: "Gotham";
        font-weight: 500;
      }
     
}