page-template{
    ion-content {
        color: #000 !important;
        font-family: "Gotham";
        
    }
    ion-content p{ color: #000; font-size: 12px; font-weight:500;}
    .back-button{
    
      }
     
}