
page-my-hra-result{
    .div-consent p{
        font-weight: lighter;
        padding: 10px;

    }
    ion-label{
        white-space: normal;
    }
    .item.item-md .checkbox-md {
        margin-top: -20px;
        margin-right: 16px;
        margin-left: 10px;
    }
    ul li {
        list-style: none;
    }
    li img {
        height: 30px;
        width: 30px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 0px;
      }
}